/* .header {
    margin-top: 60px;
  } */
  
  .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;
  }
  
  .headerTitleSm {
    position: absolute;
    top: 45%;
    font-size: 45px;
    font-family: 'Comfortaa', cursive;
  }
  
  .headerTitleLg {
    position: absolute;
    top: 18%;
    font-size: 150px;
    font-family: 'Water Brush', cursive;
    color: beige;
  }
  
  .headerImg {
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin: 0;
  }